*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.btn {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.container {
    width: 1000px;
    max-width: 80%;
    border-radius: 10px;
    background-color:rgb(67, 67, 67);
    padding: 10px;
    box-shadow: 0 0 10px 1px;
}
.btn-grid {
    display: grid;
    gap: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:hover {
    border-color: white;
}
.start {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.hide {
    display: none;
}
.timer-text, .timer-count {
    font-size: 16px;
    font-weight: bold;
}
